---
import Layout from "src/layouts/Layout.astro";
import { Picture } from "@astrojs/image/components";

import "../scss/index.scss";
---

<Layout
  title="Crew"
  className="bg-crew-mobile md:bg-crew-tablet lg:bg-crew-desktop md:bg-center md:overflow-hidden"
>
  <main
    class="flex flex-col md:justify-between lg:grid grid-cols-crew lg:mt-[62px]"
  >
    <h1
      class="mt-6 md:mt-10 lg:mt-[14px] text-center lg:place-items-center md:text-left md:px-destination-title lg:px-0 uppercase font-barlow-condensed tracking-barlow-condensed-sm md:tracking-barlow-condensed-md md:text-xl leading-[19px] lg:text-[28px] lg:leading-[34px] lg:tracking-barlow-condensed-lg text-white lg:col-start-2"
    >
      <span class="mr-[18px] font-bold text-white/30">02</span>Meet your crew
    </h1>

    <div
      class="flex flex-col items-center mt-8 lg:mt-0 md:mt-0 md:order-2 lg:col-start-3 lg:row-span-2 lg:place-content-end lg:place-items-end px-6 lg:pl-8 xl:pl-0 lg:pr-0 flex-shrink-0"
    >
      <Picture
        class="w-[177px] flex-shrink-0 md:w-[456px] lg:w-[568px] md:mb-[-30px] lg:mb-0"
        src="/crew/image-douglas-hurley.png"
        alt="The moon"
        widths={[170, 400, 445]}
        sizes="(min-width: 1024px) 1024px, 100vw"
        aspectRatio={0.8}
      />

      <div class="h-[1px] w-full bg-secondary/20 md:hidden"></div>
    </div>

    <div
      class="flex flex-col items-center self-center lg:items-start px-6 md:px-0 md:max-w-[458px] lg:max-w-none lg:col-start-2 lg:place-content-start lg:place-items-center lg:row-start-2 lg:mx-auto"
    >
      <div role="tablist" class="mt-8 md:mt-10 md:order-2 lg:mt-[120px]">
        <button
          id="commander"
          role="tab"
          aria-selected="true"
          class="w-[10px] h-[10px] mr-4 rounded-full border-2 border-transparent bg-secondary/20 focus:outline-none focus:border-secondary aria-selected:border-white aria-selected:bg-white"
        >
        </button>
        <button
          id="pilot"
          role="tab"
          aria-selected="false"
          class="w-[10px] h-[10px] mr-4 rounded-full border-2 border-transparent bg-secondary/20 focus:outline-none focus:border-secondary aria-selected:border-white aria-selected:bg-white"
        >
        </button>
        <button
          id="mission-specialist"
          role="tab"
          aria-selected="false"
          class="w-[10px] h-[10px] mr-4 rounded-full border-2 border-transparent bg-secondary/20 focus:outline-none focus:border-secondary aria-selected:border-white aria-selected:bg-white"
        >
        </button>
        <button
          id="flight-engineer"
          role="tab"
          aria-selected="false"
          class="w-[10px] h-[10px] rounded-full border-2 border-transparent bg-secondary/20 focus:outline-none focus:border-secondary aria-selected:border-white aria-selected:bg-white"
        >
        </button>
      </div>

      <div class="mt-8 lg:mt-0 text-center lg:text-left">
        <h2
          id="crew-member"
          class="uppercase font-bellefair leading-[18px] md:text-2xl md:leading-[28px] lg:text-[32px] lg:leading-[37px] text-white/50"
        >
          Commander <span
            class="block text-2xl leading-[28px] mt-2 text-white md:text-[40px] md:leading-[46px] lg:text-[56px] lg:leading-[64px] lg:mt-5"
            >Douglas Hurley</span
          >
        </h2>

        <p
          class="text-secondary font-barlow text-[15px] leading-[25px] md:text-base md:leading-7 lg:text-lg lg:leading-[32px] lg:pr-10 mt-4 lg:mt-6"
        >
          Douglas Gerald Hurley is an American engineer, former Marine Corps
          pilot and former NASA astronaut. He launched into space for the third
          time as commander of Crew Dragon Demo-2.
        </p>
      </div>
    </div>
  </main>
</Layout>

<script>
  import data from "../data/data.json";
  import { changeAriaSelected } from "../util";

  const { crew } = data;

  const commanderButton = document.getElementById("commander");
  const pilotButton = document.getElementById("pilot");
  const missionSpecialistButton = document.getElementById("mission-specialist");
  const flightEngineerButton = document.getElementById("flight-engineer");

  commanderButton?.addEventListener("click", () => {
    if (commanderButton.getAttribute("aria-selected") === "true") return;

    changeCrewMember(commanderButton.id);
    changeAriaSelected(commanderButton.id);
  });

  pilotButton?.addEventListener("click", () => {
    if (pilotButton.getAttribute("aria-selected") === "true") return;

    changeCrewMember(pilotButton.id);
    changeAriaSelected(pilotButton.id);
  });

  missionSpecialistButton?.addEventListener("click", () => {
    if (missionSpecialistButton.getAttribute("aria-selected") === "true")
      return;

    changeCrewMember(missionSpecialistButton.id);
    changeAriaSelected(missionSpecialistButton.id);
  });

  flightEngineerButton?.addEventListener("click", () => {
    if (flightEngineerButton.getAttribute("aria-selected") === "true") return;

    changeCrewMember(flightEngineerButton.id);
    changeAriaSelected(flightEngineerButton.id);
  });

  function changeCrewMember(buttonId: string) {
    if (buttonId.includes("-")) {
      buttonId = buttonId.replace("-", " ");
    }

    const member = crew.find(
      (member) => member.role.toLowerCase() === buttonId
    );

    const role = document.querySelector("#crew-member");
    const memberName = role?.querySelector("span");
    const image = document.querySelector("picture");
    const desc = document.querySelector("p");

    const imageSrc = image?.querySelector("source");

    console.log(memberName);

    if (role && memberName && desc && imageSrc && member) {
      role.innerHTML = `${member.role} <span class="block text-2xl leading-[28px] mt-2 text-white md:text-[40px] md:leading-[46px] lg:text-[56px] lg:leading-[64px] lg:mt-5">${member.name}</span>`;
      memberName.textContent = member.name;
      imageSrc.srcset = member.images.png;

      desc.textContent = member.bio;
    }
  }
</script>
