---
import Layout from "src/layouts/Layout.astro";
import { Picture } from "@astrojs/image/components";
import "../scss/index.scss";
---

<Layout
  title="Destination"
  className="bg-destination-mobile md:bg-destination-tablet md:bg-center lg:bg-destination-desktop"
>
  <main id="main" class="lg:overflow-hidden lg:px-6 pb-6 md:pb-0">
    <h1
      class="mt-6 md:mt-10 lg:mt-4 text-center lg:px-navClamp md:text-left md:px-destination-title uppercase font-barlow-condensed tracking-barlow-condensed-sm md:tracking-barlow-condensed-md md:text-xl leading-[19px] lg:text-[28px] lg:leading-[34px] lg:tracking-barlow-condensed-lg text-white"
    >
      <span class="mr-[18px] font-bold text-white/30">01</span>Pick your
      destination
    </h1>

    <div
      class="lg:flex lg:h-full lg:gap-40 2xl:gap-52 lg:items-center lg:justify-center"
    >
      <div class="flex-shrink-0">
        <Picture
          class="w-[170px] h-[170px] md:h-[300px] md:w-[300px] lg:h-[445px] lg:w-[445px] mx-auto mt-6 lg:mt-0 md:mt-[60px]"
          src="/destination/image-moon.webp"
          alt="The moon"
          widths={[170, 400, 445]}
          sizes="(min-width: 1024px) 1024px, 100vw"
          aspectRatio={1}
        />
      </div>

      <div class="lg:max-w-[445px]">
        <div
          role="tablist"
          class="gap-6 flex text-secondary justify-center mt-6 lg:mt-0 md:mt-14 pb-2 col-start-2 lg:justify-start"
        >
          <button
            id="moon"
            role="tab"
            aria-selected="true"
            class="uppercase border-transparent border-b-[3px] md:text-base md:leading-7 aria-selected:border-white aria-selected:border-b-[3px] aria-selected:text-white pb-2"
            >Moon</button
          >
          <button
            id="mars"
            role="tab"
            aria-selected="false"
            class="uppercase border-transparent border-b-[3px] md:text-base md:leading-7 aria-selected:border-white aria-selected:border-b-[3px] aria-selected:text-white pb-2"
            >Mars</button
          >
          <button
            id="europa"
            role="tab"
            aria-selected="false"
            class="uppercase border-transparent border-b-[3px] md:text-base md:leading-7 aria-selected:border-white aria-selected:border-b-[3px] aria-selected:text-white pb-2"
            >Europa</button
          >
          <button
            id="titan"
            role="tab"
            aria-selected="false"
            class="uppercase border-transparent border-b-[3px] md:text-base md:leading-7 aria-selected:border-white aria-selected:border-b-[3px] aria-selected:text-white pb-2"
            >Titan</button
          >
        </div>

        <div
          class="text-center lg:text-left px-6 mt-5 md:mt-8 md:px-destination-body lg:px-0"
        >
          <h2
            class="font-bellefair uppercase text-[56px] leading-[64px] md:text-[80px] md:leading-[92px] lg:text-[100px] lg:leading-[115px] text-white"
          >
            Moon
          </h2>

          <p
            class="font-barlow text-secondary text-[15px] leading-[25px] md:text-base md:leading-7 lg:text-lg lg:leading-8"
          >
            See our planet as you’ve never seen it before. A perfect relaxing
            trip away to help regain perspective and come back refreshed. While
            you’re there, take in some history by visiting the Luna 2 and Apollo
            11 landing sites.
          </p>

          <div class="h-[1px] w-full bg-[#383B4B] my-8 md:mt-[50px] md:mb-7">
          </div>

          <div
            class="flex flex-col md:flex-row md:justify-around lg:justify-start lg:gap-20"
          >
            <div class="mb-8">
              <h3
                class="font-barlow-condensed text-secondary text-sm uppercase tracking-[2.36px] mb-3"
              >
                Avg. distance
              </h3>
              <p
                id="distance"
                class="font-bellefair text-[28px] uppercase leading-8 text-white"
              >
                384,400 km
              </p>
            </div>

            <div>
              <h3
                class="text-secondary uppercase text-sm tracking-[2.36px] mb-3"
              >
                Est. travel time
              </h3>
              <p
                id="time"
                class="font-bellefair text-[28px] uppercase leading-8 text-white"
              >
                3 days
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>

<script>
  import data from "../data/data.json";
  import { changeAriaSelected } from "../util";

  const MARS = "mars";
  const MOON = "moon";
  const EUROPA = "europa";
  const TITAN = "titan";

  const { destinations } = data;

  const moonButton = document.getElementById(MOON);
  const marsButton = document.getElementById(MARS);
  const europaButton = document.getElementById(EUROPA);
  const titanButton = document.getElementById(TITAN);

  moonButton?.addEventListener("click", () => {
    changeDestination(moonButton.id);
    changeAriaSelected(moonButton.id);
  });

  marsButton?.addEventListener("click", () => {
    changeDestination(marsButton.id);
    changeAriaSelected(marsButton.id);
  });

  europaButton?.addEventListener("click", () => {
    changeDestination(europaButton.id);
    changeAriaSelected(europaButton.id);
  });

  titanButton &&
    titanButton.addEventListener("click", () => {
      changeDestination(titanButton.id);
      changeAriaSelected(titanButton.id);
    });

  function changeDestination(buttonId: string) {
    const destination = destinations.find(
      (d) => d.name.toLowerCase() === buttonId
    );

    const title = document.querySelector("h2");
    const image = document.querySelector("picture");
    const body = document.querySelector("p");
    const distance = document.querySelector("#distance");
    const time = document.querySelector("#time");

    const imageSrc = image?.querySelector("source");

    if (title && image && body && distance && time && destination && imageSrc) {
      title.textContent = destination.name;
      imageSrc.srcset = destination.images.webp;
      body.textContent = destination.description;
      distance.textContent = destination.distance;
      time.textContent = destination.travel;
    }
  }
</script>
