---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<header
  id="primary-header"
  class="flex items-center mt-6 ml-6 md:mt-0 lg:mt-8 justify-between lg:after:relative lg:after:block after:h-[1px] lg:after:bg-[#979797]/25 lg:after:w-full lg:after:order-1 lg:after:ml-[4rem] xl:after:ml-[8rem] lg:after:mr-[-2rem]"
>
  <div class="flex-shrink-0">
    <img
      src="/logo.svg"
      alt="logo"
      height={48}
      width={48}
      class="hidden md:block"
      sizes="(min-width: 1280px) 50vw, 100vw"
      loading="eager"
    />

    <img
      src="/logo.svg"
      alt="logo"
      height={40}
      width={40}
      class="md:hidden"
      sizes="(min-width: 1280px) 50vw, 100vw"
      loading="eager"
    />
  </div>

  <button
    id="mobile-nav-toggle"
    class="md:hidden aria-expanded:bg-close bg-no-repeat aria-expanded:w-5 aria-expanded:right-[35px] absolute md:static w-[24px] h-[21px] aspect-square top-8 md:11 right-8 z-[9999] bg-menu"
    aria-controls="primary-navigation"
    aria-expanded="false"
  >
    <span class="sr-only">Menu</span>
  </button>

  <nav class="order-2">
    <ul
      id="primary-navigation"
      class="flex flex-col z-[1000] pl-8 transition-transform md:transition-none data-[visible='true']:translate-x-0 translate-x-[100%] md:translate-x-0 md:flex-row gap-8 pt-28 md:pt-0 md:px-12 lg:px-navClamp fixed md:static inset-y-0 bg-test backdrop-blur-lg right-0 left-[30%]"
      data-visible="false"
    >
      <li class="md:py-8">
        <a
          href="/"
          class:list={[
            "uppercase text-white tracking-[2.7px] border-b-2 border-transparent md:py-8 active:border-b-white",
            currentPath === "" ? "border-b-white" : "",
            currentPath === "" ? "" : "hover:border-b-white/25",
          ]}
          ><span aria-hidden="true" class="font-bold mr-2 md:hidden lg:inline"
            >00</span
          >Home</a
        >
      </li>

      <li class="md:py-8">
        <a
          href="/destination"
          class:list={[
            "uppercase text-white tracking-[2.7px] border-b-2 border-transparent md:py-8 active:border-b-white",
            currentPath === "destination" ? "border-b-white" : "",
            currentPath === "destination" ? "" : "hover:border-b-white/25",
          ]}
          ><span aria-hidden="true" class="font-bold mr-2 md:hidden lg:inline"
            >01</span
          >Destination</a
        >
      </li>

      <li class="md:py-8">
        <a
          href="/crew"
          class:list={[
            "uppercase text-white tracking-[2.7px] border-b-2 border-transparent hover:border-b-white/25 md:py-8 active:border-b-white",
            currentPath === "crew" ? "border-b-white" : "",
          ]}
          ><span aria-hidden="true" class="font-bold mr-2 md:hidden lg:inline"
            >02</span
          >Crew</a
        >
      </li>

      <li class="md:py-8">
        <a
          href="/technology"
          class:list={[
            "uppercase text-white tracking-[2.7px] border-b-2 border-transparent hover:border-b-white/25 md:py-8 active:border-b-white",
            currentPath === "technology" ? "border-b-white" : "",
          ]}
          ><span aria-hidden="true" class="font-bold mr-2 md:hidden lg:inline"
            >03</span
          >Technology</a
        >
      </li>
    </ul>
  </nav>
</header>

<script>
  const primaryNav = document.querySelector("#primary-navigation");
  const mobileNavToggle = document.querySelector("#mobile-nav-toggle");

  if (mobileNavToggle && primaryNav) {
    mobileNavToggle.addEventListener("click", () => {
      const visibility = primaryNav.getAttribute("data-visible");

      if (visibility === "false") {
        primaryNav.setAttribute("data-visible", "true");
        mobileNavToggle.setAttribute("aria-expanded", "true");
      } else if (visibility === "true") {
        primaryNav.setAttribute("data-visible", "false");
        mobileNavToggle.setAttribute("aria-expanded", "false");
      }
    });
  }
</script>
