@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  body {
    display: grid;
    grid-template-rows: min-content 1fr;
    min-height: 100vh;

    background-size: cover;
    background-position: bottom center;
  }
}
