@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  :root {
    --empty: ;
  }

  body {
    display: grid;
    grid-template-rows: min-content 1fr;
    min-height: 100vh;

    background-size: cover;
    background-position: bottom center;
    background-image: url('/home/background-home-mobile.jpg');

    @media (min-width: 768px) {
      background-position: center center;
      background-image: url('/home/background-home-tablet.jpg');
    }

    @media (min-width: 1024px) {
      background-image: url('/home/background-home-desktop.jpg');
    }
  }
}
