---
import Navbar from "@components/Navbar/Navbar.astro";

export interface Props {
  title: string;
  className: string;
}

const { title, className } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>

  <body class={className}>
    <!-- <a
      class="absolute left-0 m-3 -translate-y-16 bg-primary p-3 text-white transition focus:translate-y-0"
      href="#main"
    >
      Skip Navigation
    </a> -->

    <Navbar />

    <slot />
  </body>
</html>
